@font-face {
    font-family: gilroy;
    src: url(/Fonts/MTI-WebFonts-2070881144/Fonts/5538999/824bd825-cb90-45d8-ac5e-3997fd8632ac.woff);
}

.main-page {
    background: url(/Archives/Background\ GIF.gif);
    background-size: cover;
    background-repeat: no-repeat;  
}

.text-main-page {
    position: fixed;
    margin-top: 28%;
    margin-left: 31%;
    font-size: 2vw;
    color: white;
    font-family: gilroy;
    text-align-last: center;
    width: 40vw;  
}

#button-main-page {
    border-radius: 3em;
    width: 23vw;
    height: 4vw;
    color: #ffd33b;
    background-color: #00bfc3;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif; 
    border: none;
    position: fixed;
    margin-top: 35%; 
    margin-left: 39%;
    font-family: gilroy;
    font-size: 1.5vw;   
}

#button-main-page:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.choosepark-body {
    background: url(/Archives/Choose\ Park\ GIF.gif);
    background-size: cover;
    background-repeat: no-repeat; 
}

.text-choosepark {
    position: fixed;
    margin-top: 15%;
    margin-left: 31%;
    font-size: 1.8vw;
    font-family: gilroy;
}

.universal-button {
    position: fixed;
    display: inline-block;
    width: 13%;
    margin-top: 20%;
    margin-left: 33%;     
}


.universal-button:hover {
    transform: scale(1.2);
}

.disney-button {
    position: fixed;
    display: inline-block;
    width: 13%;
    margin-top: 20%;
    margin-left: 49%;    
}

.disney-button:hover {
    transform: scale(1.2);   
}

.next-button {
    border-radius: 3em;
    width: 25vw;
    height: 5vw;
    color: #ffd33b;
    background-color: #00bfc3;
    font-weight: 900;
    border: none;
    position: fixed;
    margin-top: 37%; 
    margin-left: 35%;
    font-family: gilroy;
    font-size: 1.7vw;
}

.next-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.disney-result-body {
    background: url(/Archives/disney\ result\ background.gif);
    background-size: cover;
    background-repeat: no-repeat;   
}

.universal-result-body {
    background: url(/Archives/Universal\ Result\ Background.gif);
    background-size: cover;
    background-repeat: no-repeat; 
}

.redo-button {
    position: absolute;
    margin-top: 35%;
    margin-left: 10%;
    border-radius: 3em;
    width: 15%;
    height: 8%;
    color: #ffd33b;
    background-color: #00bfc3;
    font-weight: 900;
    border: none;
    font-family: gilroy;
    font-size: 1.6vw;
}

.redo-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.choose-view-div {
    position: absolute;
    margin-top: 17%;
    margin-left: 39%;
    width: 80%;   
}

.choose-view-p {
    display: inline-block;
    font-weight: 900;
    font-size: 1.3vw;
    font-family: gilroy;
}

#a-vista-button {
    display: inline-block;
    margin-left: 1%;
    width: 16%;
    height: 5vh;    
    font-weight: 900;
    border: none;
    border-radius: 3em;
    font-family: gilroy;
    font-size: 120%;
    background-color: #00bfc3;
    color: #ffd33b;
}

#a-vista-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#parcelado-button {
    display: inline-block;
    margin-left: 0.4%;
    width: 16%;
    height: 5vh;    
    font-weight: 900;
    border: none;
    border-radius: 3em;
    font-family: gilroy;
    font-size: 120%;
    background-color: #00bfc3;
    color: #ffd33b;
}

#parcelado-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#toggle-button-cinza {
    display: inline-block;
    margin-left: 0.4%;
    width: 16%;
    height: 2.5vw;
    font-weight: 900;
    border: none;
    border-radius: 3em;
    font-family: gilroy;
    font-size: 120%;
    background-color: #d9d9d9;
    color: #737373;
}

#toggle-button-cinza:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #00bfc3;
    color: #ffd33b;
}

#disney-result-div {
    width: 80%;
    position: absolute;
    margin-top: 22%;
    margin-left: 39%;
}

#universal-result-div {
    width: 80%;
    position: absolute;
    margin-top: 22%;
    margin-left: 39%; 
}

table {
    font-family: gilroy;
    border-collapse: collapse;
    width: 70%;
    background-color: #d6eeff;
    text-align: center;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    text-align: center;
    font-family: gilroy;
  }


.veja-empresa-title {
    background-color: #fd2371;
    color: white;
} 

.ranking-title {
    background-color: #4aa2e1;
    color: white;
    font-size: 1.5em;
}

.pagamento-title {
    background-color: #4aa2e1;
    color: white;
}

.veja-empresa {
    background-color: #ffe3e3;
}  

table button {
    border-radius: 3em;
    background-color: #fd2371;
    color: white;
    border: none;
    font-weight: 900;
    width: 12vw;
    height: 3vw;       
}

table button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/*
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    background-image: url(/Archives/loading\ page.gif);
    animation: loader 5s infinite ease;
}
*/

.redirect-page {
    background: url(/Archives/Redirectioning\ GIF.gif);
    background-size: cover;
    background-repeat: no-repeat; 
}

.attention-title {
    position: fixed;
    margin-top: 25%;
    margin-left: 44%;
    font-size: 2.2vw;
    font-family: gilroy;
}

.attention-text {
    position: fixed;
    margin-top: 28%;
    margin-left: 26%;
    font-size: 1.5vw;
    font-family: gilroy;
    text-align-last: center;
}

.visit-website-button {
    border-radius: 3em;
    background-color: #fd2371;
    color: white;
    border: none;
    font-weight: 900;
    font-size: 1.1vw;
    width: 30%;
    height: 6%;
    margin-top: 35%;
    margin-left: 35%;
    position: fixed;
}

.visit-website-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.content {    
    display: none;
}

.loader {
    height: 30vh;
    width: 30vw;
    overflow: hidden;
    position: fixed;
    margin-left: 47%;
    margin-top: 23%;
    background-color: white;
}

.loader div {
    height: 30%;
    width: 15%;
    border: 15px solid #d9d9d9;
    border-top-color: #fd2371;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;    
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}

.loader p {
    font-family: gilroy;
    font-size: 1.3em;
    margin-top: 44%;    
}

.disclaimer {
    margin-top: 2%;
    color: #a9a6a6 ;
}

.go-back-button {
    background-color: #ffbd59;
    border-radius: 3em;
    color: white;
    border: none;
    font-weight: 900;
    font-size: 1.1vw;
    width: 25%;
    height: 6%;
    position: fixed;
    margin-top: 38.5%;
    margin-left: 37.5%;
}

.go-back-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}





